<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <body style="background-color: #ffdbac;"></body>
</head>
<body>
    <h1>Team orangeOS</h1>
    <p><strong>Alexis-Rachelle Ramelb</strong></p>
    <img src="/static/img/alexis-pic.png" width="150" height="150">
    <ul>
        <li>4th year college student at Chaminade University of Honolulu</li>
        <li>Computer science major</li>
        <li>...</li>
    </ul>
    <p><strong>Wilneris Carion-Colon</strong></p>
    <img src="img/placeholder-profile-pic.png" width="170" height="150">
    <ul>
        <li>Placeholder</li>
        <li>Placeholder</li>
        <li>Placeholder</li>
    </ul>
    <p><strong>Fletcher Macdonald</strong></p>
    <img src="/static/img/fletch.pic.png" width="225" height="150">
    <ul>
        <li>Placeholder</li>
        <li>Placeholder</li>
        <li>Placeholder</li>
    </ul>
</body>
</html>