<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>About Us</title>
</head>
<body>
    <!-- about us section -->
    <section id="about-section">
        <div class="container">
            <h2>Aloha! 🌺</h2>
            <h3>About us</h3>
            <p>Medical clinics are an essential service that many individuals utilize in their daily lives, yet many patients in Hawaiʻi 
                struggle to find clear and specific information about healthcare providers in one centralized place. This project aims to 
                create an easy-to-navigate website that centralizes essential information on healthcare services, with a particular focus 
                on sports medicine for those seeking specialized care.
            </p>

            <p> We are addressing the challenge of healthcare accessibility to specialized health services (i.e., medical services focused 
                on specific area or medicine, often provided by specialists) by creating a website, ‘Rehab Revive’, that provides information 
                on nearby health clinics, more specifically Physiotherapy Clinics, Medical Imaging Clinics and Orthopedic Clinics. Our goal 
                is to assist the general public find curated, specific, and wanted information on these three types of specialized  health services 
                in Oʻahu, Hawaiʻi.
            </p>
            <p style="text-align: right;">
                <a href="/" class="btn-link">Back To Home</a>
            </p>
            <h2>Meet our team!</h2>
        </div>
    </section>
    <section>
        <div class="container">
            <p><strong>Alexis-Rachelle Ramelb</strong></p>
            <img src="/static/img/alexis-pic.png" width="300" height="300">
            <p>@alexisrachelle</p>
            <p>I'm a senior at Chaminade University majoring in computer science. I aspire to have a career in tech or in healthcare; possibly a web developer or a MRI tech.</p>
            <ul>
                <li>4th year college student at Chaminade University of Honolulu</li>
                <li>Major: Computer Science</li>
            </ul>
        </div>
    </section>
    <section>
        <p><strong>Fletcher MacDonald</strong></p>
        <img src="/static/img/fletch.pic.png" width="400" height="300">
        <p>@FletcherMacDonald</p>
        <p>Australian Basketballer attending Chaminade University becoming Computer Scientist and then eventually an Engineer!
        </p>
        <ul>
            <li>3rd year college student at Chaminade University of Honolulu</li>
            <li>Major: Computer Science</li>
        </ul>
    </section>
    <section>
        <p><strong>Wilneris Colon</strong></p>
        <img src="/static/img/neris-img.png" width="300" height="300">
        <p>@wcarri</p>
        <p>Third year double majoring in Data Science, Analytics, and Visualization and Computer Sicence.
        </p>
        <ul>
            <li>3rd year college student at Chaminade University of Honolulu</li>
            <li>Major: Computer Science, Data Science</li>
        </ul>
    </section>
</body>
</html>