<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Imaging Clinics</title>
</head>
<body>
    <header>
        <h1 id="main_title" class="title family gr">Hawaii Diagnostic Radiology Services - Saint Francis</h1>
        <img src="./img/clinic-pic-1.png" alt="">
        <p>Address: 2230 Liliha St #106, Honolulu, HI 96817</p>
        <p>Phone: (808) 949-0091</p>

        <h1 id="main_title" class="title family gr">Invision Imaging - Medical Arts Building</h1>
        <img src="./img/clinic-pic-2.png" alt="">
        <p>Address: 1010 S King St #109, Honolulu, HI 96814</p>
        <p>Phone: (808) 593-8080</p>

        <h1 id="main_title" class="title family gr">*Add the rest of the six clinics here</h1>
    </header>
</body>
</html>