<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Imaging Clinics</title>
    <!-- Link to the existing style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="medical-imaging-page">
    <h1>Medical Imaging Clinics</h1>

    <!-- Display clinic data passed from the Flask route -->
    {% if clinics %}
        <div class="clinics-container">
            <ul>
                {% for clinic in clinics %}
                    <li>
                        <strong>{{ clinic.clinic_name }}</strong><br>
                        <img class="clinic-image" 
                             src="{{ url_for('static', filename='img/' ~ clinic.image_name) }}" 
                             alt="{{ clinic.clinic_name }}">
                        <br>
                        <b>Address: </b>{{ clinic.address }}<br>
                        <br>
                        <b>Phone:</b> {{ clinic.phone_number }}<br>
                        <br>
                        <b>Rating:</b> {{clinic.google_review_rating}}<br>
                        <br>
                        <b>Hours:</b> {{clinic.clinic_hours}}<br>
                        <br>
                        <b>EST:</b> {{clinic.date_of_establishment}}<br>
                        <br>
                        <b>Private or Public:</b> {{clinic.private_or_public}}<br>
                        <br>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>No clinic data available.</p>
    {% endif %}
</body>
</html>