<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rehab Revive Website</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  <!-- google font link-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />  <!--produces the hero image and hero text zoom-in-left-->
</head>
<body>

  <!-- header -->
  <header>
    <a href="#" class="logo">
      <img src="{{ url_for('static', filename='img/rehab-revive-team-orangeos-logo.png') }}" alt="Logo">
    </a>

    <ul class="navlist">
      <li><a href="medical-imaging-page">Medical Imaging</a></li>
      <li><a href="physical-therapy.html">Physical Therapy</a></li>
      <li><a href="orthopedics-page">Orthopedics</a></li> 
      <li><a href="about-us-page">About Us</a></li>
      <li><a href="add-clinic.html">Add Clinic</a></li>
    </ul>
  </header>

  <!-- hero section -->
  <section class="hero">
    <div class="hero-text">
      <h1 data-aos="zoom-in-left" data-aos-duration="1400" data-aos-delay="200">Advanced Imaging.</h1>
      <h1 data-aos="zoom-in-left" data-aos-duration="1400" data-aos-delay="200">Expert Care.</h1>
      <h1 data-aos="zoom-in-left" data-aos-duration="1400" data-aos-delay="200">Better Recovery.</h1>
    </div>

    <div class="hero-img" data-aos="zoom-in" data-aos-duration="1400">
      <img src="{{ url_for('static', filename='img/hero.png') }}" alt="Hero Image">
    </div>
  </section>
 
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script> <!--produces the hero image and hero text zoom-in-left-->
  <script>  
    AOS.init({
      offset: 1,
    });
  </script>

</body>
</html>